.profile {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;

  display: flex;

  .view {
    flex: 1;

    .info {
      .top-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-info {
          display: flex;
          align-items: center;
          gap: 30px;
          justify-content: space-between;

          .profile-img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
          }
  
          .identifiers {
            text-align: left;
  
            .student-name {
              font-weight: 1400;
              font-size: 2.5rem;
            }
  
            .activity {
              display: flex;
              justify-content: space-between;
              gap: 50px;
            }
          }  
        }

        .profile-links {
          .logout-button {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #0000FF;
            color: white;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
  
            &:hover {
              background-color: #FF8C00;
            }
          }  
        }
      }

      .bottom-info {
        display: flex;
        flex-direction: column;

        .headings {
          margin-top: 30px;
          margin-bottom: 10px;
          display: flex;
          gap: 50px;
          padding-left: 10px;
          padding-right: 10px;
  
            .posts-heading, .bookmarks-heading {
              text-align: left;
              font-weight: 500;
              font-size: 1.35rem;    
            }
        }
  
        .posts {
          text-align: left;
  
          .posts-list {
            display: grid;
            gap: 20px;
            grid-auto-flow: dense;
            grid-template-columns: repeat(auto-fit, minmax(180px, auto));
            grid-auto-rows: minmax(180px, auto);
  
            .postItem {
              padding: 10px;
              border-radius: 10px;
      
              &:hover {
                background-color: #FF8C00;
              }
  
              .post {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                align-items: center;
                
                .post-img {
                  max-width: 100%;
                  height: 250px;
                  object-fit: cover;
                  overflow: hidden;
                }
    
                .post-info {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
    
                  .post-title {
                    font-weight: bold;
                    font-size: 1.15rem;
                  }
    
                  .post-price {
                    font-weight: 500;
                    font-size: 0.95rem;
                  }
                }  
              }
            }
          }
        }
  
        .bookmarks {
  
          .bookmarks-list {
            display: grid;
            gap: 20px;
            grid-auto-flow: dense;
            grid-template-columns: repeat(auto-fit, minmax(180px, auto));
            grid-auto-rows: minmax(180px, auto);
  
            .bookmark {
              padding: 10px;
              border-radius: 10px;
      
              &:hover {
                background-color: #FF8C00;
              }
  
              .post {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                align-items: center;
  
                .post-img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  overflow: hidden;
                }
    
                .post-info {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
    
                  .post-title {
                    font-weight: bold;
                    font-size: 1.15rem;
                  }
    
                  .post-price {
                    font-weight: 500;
                    font-size: 0.95rem;
                  }
                }  
              }
            }
          }
        }
  
      }
    }
  }
}